<header class="text-bg-dark bg-transparent sticky-top w-100 position-absolute header">

	<nav class="navbar navbar-dark bg-transparent d-flex justify-content-between navbar-expand-lg">

		<div class="container-fluid justify-content-between">
			<a class="navbar-brand text-white castoro fs-2 logo" href="{{ path('home') }}">Quai antique</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggler">

				<ul class="navbar-nav mb-2 mx-auto mb-lg-0 lexend fs-6 text-center">
					<li class="nav-item">
						<a class="nav-link text-white nav1" aria-current="page" href="{{ path('home') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white nav2" href="{{ path('menu') }}">La carte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white nav3" href="{{ path('reservation') }}">Réservation</a>
					</li>
				</ul>

				<div class="d-flex lexend login justify-content-center">
					{% if app.user %}
						<div class="dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bonjour
								{{ app.user.firstName }}</a>
							<div class="dropdown-menu dropdown-menu-dark dropdown-menu-start dropdown-menu-sm-end">
								<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
								<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
								<div class="dropdown-divider"></div>
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<a class="dropdown-item" href="{{ path('admin.index') }}">Administration</a>
									<div class="dropdown-divider"></div>
								{% endif %}
								<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
							</div>
						</div>
					{% else %}
						<a role="button" class="btn btn-outline-light me-2" href="{{ path('security.login') }}">Connexion</a>
						<a href="{{ path('security.registration') }}" class="btn btn-danger" role="button">S'inscrire</a>
					{% endif %}
				</div>

			</div>

		</div>
	</nav>

</header>
