{# ------------------------------------ No date selected ------------------------------------------- #}

{% if availableDateAm == "" %}
	<h2 class="lexend mb-5">Nous sommes désolé de vous annoncer que le réstaurant est fermé ce jour ci.
	</h2>

	{# -------------------------------- Date but no time selected ------------------------------------ #}

{% elseif availableDateAm == "Choix" %}
	<h2 class="lexend mb-5 text-center">Veuillez choisir une date
	</h2>

	{{ form_row(form.submit,{ 'attr': {'class': 'btn btn-outline-danger disabled lexend d-grid gap-2 col-xl-6 mx-auto my-5'} }) }}

	{# ---------------------------- Max people reached for both Am and Pm ---------------------------- #}

{% elseif availableDateAm == "FullAm" and availableDatePm == "FullPm" %}

	<h2 class="lexend mb-5 text-center">Notre réstaurant a été victime de son succès!
	</h2>

	{{ form_row(form.submit,{ 'attr': {'class': 'btn btn-outline-danger disabled lexend d-grid gap-2 col-xl-6 mx-auto my-5'} }) }}

	{# ------------------------------ Max people reached for Am only --------------------------------- #}

{% elseif availableDateAm == "FullAm" %}

	{% include "partials/_reservationFullAm.html.twig" %}

	{# ------------------------------- Max people reached for Pm only -------------------------------- #}

{% elseif availableDatePm == "FullPm" %}

	{% include "partials/_reservationFullPm.html.twig" %}

	{# --------------------------------- Am and Pm time displayed ------------------------------------ #}

{% else %}

	<h2 class="text-center">Midi</h2>

	<ul class="d-flex flex-wrap justify-content-center mx-auto mt-3 list-unstyled text-small">
		<div class="js-day" {% for index in time %} data-is-open="{{ index.isclosed ? 'false' : 'true' }}" {% endfor %}></div>


		{% for reservation in availableDateAm %}
			<li class="mx-1 my-1">
				<a class="btn {{ selectedTime is same as(reservation|date("H:i")) ? 'btn-secondary' : 'btn-outline-secondary' }} lexend time-btn">{{ reservation | date("H:i")}}</a>
			</li>
		{% endfor %}

	</ul>

	<hr class="mt-5">

	<h2 class="mt-1 text-center">Soir</h2>

	<ul class="d-flex flex-wrap justify-content-center mx-auto mt-3 list-unstyled text-small">
		{% for reservation in availableDatePm %}

			<li class="mx-1 mt-1 my-1">
				<a class="btn {{ selectedTime is same as(reservation|date("H:i")) ? 'btn-secondary' : 'btn-dark' }} lexend time-btn">{{ reservation | date("H:i")}}</a>
			</li>

		{% endfor %}
	</ul>

	{# ------------------------------------------ MODAL ---------------------------------------------- #}

	{% include "partials/_reservationModal.html.twig" %}

	{#  #}

{% endif %}
