{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{# Personalised variables to get parameters #}
{% set queryParams = app.request.query.all|url_encode %}

{% block title %}Quai antique - Restaurant savoyard - Réservation
{% endblock %}

{% block body %}

	<h1 class="text-center text-white my-5">Réservation</h1>

	<div class="d-flex flex-column align-items-center justify-content-center container bg-light text-black rounded my-5 w-75">

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-5 mb-0">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(form, {'attr': {'style': 'width: 50vw'}}) }}

		<div class="row g-2">
			<div class="col-md">
				<div
					class="form-floating mt-5">
					{# Parameters verification #}
					{% if queryParams is not empty %}
						{% set value = (queryParams) ? date : "" %}
					{% else %}
						{% set value = "" %}
					{% endif %}

					<input class="form-control datepicker" id="floatingInputDate" placeholder="Choisir une date" value={{value}}/>
					<label for="floatingInputDate">Choisir une date</label>
				</div>
			</div>
			<div class="col-md">
				<div class="form-floating">
					{{ form_row(form.nb_people) }}
				</div>
			</div>
		</div>

		<div id="content">
			{% include "partials/_reservationButtons.html.twig" %}
		</div>

		{{ form_end(form) }}

	</div>

{% endblock %}
